@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Ubuntu&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

body {
    background-color: #F1F1F6;
    display: flex;
    flex-direction: column;
    place-items: center;
}


.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3.5rem;
}

.tituloPagina {
    margin-bottom: 1rem;
}

#userData {
    display: flex;
    place-items: center;
}

#userImg {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 2rem;
    padding: 0.5rem;
}

#userName {
    font-size: 1.5rem;
    color: #000;
    padding: 0.7rem;
    font-weight: bold;
    text-decoration: none;
}

#userName:hover {
    text-decoration:underline;
    color:#095bad
}

#repoList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    place-items: center;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 30%;
}




.card {
    background-color: #fff;
    border-radius: 3rem;
    padding: 2rem;
    width: 22rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1.25rem;
    text-align: center;
}

.card-title {
    font-size: 2rem;
    color: #000;
    text-align: center;
    word-break: break-all;
    font-weight: bold;
}

.card-description {
    word-break: break-all;
}

#imgLink {
    padding: 0 0.25rem;
}

.button {
    background-color: #416BAB;
    border-radius: 1rem;
    border: none;
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    gap: 0.25rem;
}

.button:hover {
    background-color: #095bad;
}

/* Tela Responsiva 1 */
@media (max-width: 96rem) {
    #repoList {
        justify-content: center;
        margin: auto;
    }
}

/* Tela Responsiva 2 */

@media (max-width: 80rem) {
    #repoList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }
    .card {
        padding: 3.5rem;
    }
}

/* Tela Responsiva 3 */

@media (max-width: 60.25rem) {
    #repoList {
        display: flex;
        flex-direction: column;
    }
    .card {
        padding: 1rem;
    }
}



/* Tela Mobile */

@media (max-width: 27rem) {
    .cabecalho {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5rem 3.5rem 3.25rem 3.5rem;
    }

    .tituloPagina {
        font-weight: bold;
        margin-bottom: 0.75rem;
    }

    #userData {
        margin: 0;
        gap: 0.75rem;
    }

    #userImg {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 1rem;
        padding: 0;
    }

    #userName {
        font-size: 1.25rem;
        padding: 0;
    }

    .card {
        width: 94%;
        height: 100%;
        border-radius: 2.5rem;
        padding: 2rem;
    }

    .card-title {
        font-size: 1.25rem;
    }

    .card-description {
        font-size: 1rem;
    }

    .button {
        width: 75%;
    }

    #repoList {
        display: flex;
        flex-direction: column;
        place-items: center;
        width: 70%;
        gap: 1.25rem;
    }

}


@media (max-width: 23.5rem) {
    #repoList {
        place-items: center;
    }
}
