@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Ubuntu&display=swap');

:root {
    --fonte-principal: 'Ubuntu';
}

* {
    font-family: var(--fonte-principal);
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

body {
    background-color: #F1F1F6;
    display: grid;
    place-items: center;
    height: 62rem;
}

.textoPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.tituloPagina {
    height: 2rem;
    width: 8.25rem;
}

.textoAuxiliar {
    font-weight: bold;
    font-size: 1.25rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.75rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 1rem;
}

#input-user {
    border-radius: 1rem;
    background-color: #FFFFFF;
    padding: 1rem;
    width: 20.5rem;
    height: 1.75rem;
    font-size: 1.25rem;
}

.input-user::placeholder {
    color: #7C7C7C;
}

.botao {
    border-radius: 1rem;
    background-color: #416BAB;
    padding: 1rem;
    color: #FFFFFF;
    font-size: 1.25rem;
    height: 4rem;
    cursor: pointer;
}

.botao:hover {
    background-color: #095bad;
}